.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.jumbotron {
	background-color: transparent;
}

.shopDetail > img {
  /*margin: 0 auto;*/
  min-width: 100%;
}

@media screen and (min-width: 376px) {
	.carousel-inner > .item > img {
		min-width: 100%;
	}
}

